.goal-setting-template-content {

    .lane {
        margin: 30px 10%;
        padding: 5px;
    }

    .lane-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .lanes {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        
    }

    .smart-topic {
        display: flex;
        justify-content: space-evenly;

        .smart-letter-content {
            padding: 0 2px;
            border: blue solid 1px;
            border-radius: 10px;
        }

        .smart-letter {
            text-align: left;
        }

        .smart-letter-description {
            font-size: 10px;
        }
    }

    .reason {
        margin: 20px 0;

        textarea {
            width: 50%;
        }
    }


}